// responsive vars
$wideDesktop: 1741px;
$sm-desktop: 1201px;
$tablet: 992px;
$thinTablet: 800px;
$phone-wide: 768px;
$phone: 460px;
$desktop-small: 1380px;
$tablet-wide: 1100px;
$phone-normal: 610px;
$phone-sm: 340px;

// colors
$red: #D22027;
$mtmBg: #f0f0f0;
$black: #000;
$dark: #5B5B5B;
$ldark: #525252;
$lgray: #ddd;
$light-gray: #e5e5e5;
$light-gray1: #e1e1e1;
$yellow: #F9D466;
$gray: #999;
$gray-soft: #727271;
$green: #20D267;
$greenDark: #004f24;
$purple: #A936E0;
$blue: #0083C1;
$orange: #FF8D07;
$dark-purple: #9A325F;
$white: #fff;
$header-bg: #000;
$brown: #404040;
$staticBenefitsText: #525252;
$confidenceBannerBg: #e3e3e7;